# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules
/chap14_redux/node_modules
/chap14_redux/package-lock.json
/chap14-redux-example/node_modules
/chap14-redux-example/package-lock.json

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
